<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learning Vue</title>
  </head>
  <body>
    <h1>Hello, Vue :)</h1>
    <div id="app">
      <div v-if="showBooks">
        <p>{{ title }} - by {{ author }}, {{ age }} years old</p>
      </div>
      <div v-else>
        <p>Click the button below to show books</p>
      </div>

      <button @click="toggleShowBooks">
        <!-- Toggle books -->
        <span v-if="showBooks">Hide books</span>
        <span v-else>Show books</span>
      </button>

      <div v-show="showBooks">currently showing books</div>
    </div>
    <!-- MODELS -->
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <!-- IMPORT SCRIPTS -->
    <script src="app.js"></script>
  </body>
</html>
